// INITIALISATION VARIABLE

$white: #f0f0f0;
$black: #0e0e0e;
$red: #d71c10;

// CARROUSEL

main {
  section.carousel {
    background-color: white;
    white-space: 100dvw;
    article.slider {
      width: 100%;
      max-width: 100dvw;
      height: 85dvh;
      margin: auto;
      position: relative;
      overflow: hidden;
    }

    div.carouselList {
      position: absolute;
      width: max-content;
      height: 100%;
      left: 0;
      top: 0;
      display: flex;
      transition: 1s;
    }

    div.carouselList img {
      width: 100dvw;
      max-width: 100dvw;
      height: 100%;
      object-fit: cover;
    }

    div.carouselBtn {
      position: absolute;
      top: 45%;
      left: 5%;
      width: 90%;
      display: flex;
      justify-content: space-between;
    }

    div.carouselBtn button {
      width: 25px;
      height: 25px;
      background-color: black;
      color: white;
      border: none;
      font-family: "Oswald", sans-serif;
      cursor: pointer;
      border: 1px white solid;
    }

    ul.dots {
      position: absolute;
      bottom: 10px;
      color: white;
      left: 0;
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
    }

    ul.dots li {
      list-style: none;
      width: 10px;
      height: 10px;
      background-color: white;
      margin: 20px;
      transition: 1s;
      cursor: pointer;
      background-color: black;
      border: 1px white solid;
    }

    ul.dots li.active {
      width: 30px;
      background-color: $red;
    }
  }

  //  NOUVEAUTE

  section.nouveaute,
  section.promo {
    margin: 5em;
    h2 {
      font-size: 32px;
      font-weight: bold;
    }
    div#card {
      display: flex;
      overflow: auto;
      margin: 1em auto;
      border-radius: 5px;
      gap: 3em;
      justify-content: space-between;
      width: 100%;
      div.card:hover {
        box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3); /* Ombre plus prononcée au survol */
      }
      div.card {
        display: flex;
        height: auto;
        width: 300px;
        margin-bottom: 2em;
        border: solid black;
        background-color: white;
        transition: box-shadow 0.3s ease; /* Optionnel : transition pour un effet au survol */
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Ombre */
        div.cardContent {
          padding: 1em;
          img.cardImg {
            width: 268px;
            height: 500px;
            aspect-ratio: 1/3;
            object-fit: cover;
          }
          p {
            font-family: "Oswald", sans-serif;
          }
          p.title {
            font-size: 24px;
            font-weight: normal;
          }
          p.price {
            font-size: 32px;
            font-weight: lighter;
            color: $red;
          }
          span {
            font-size: 18px;
            text-decoration: line-through;
          }

          div.colors {
            display: flex;
            justify-content: space-between;
            input {
              border: 1px solid black;
              height: 30px;
              width: 30px;
              cursor: pointer;
            }
            button {
              margin-right: 0;
              height: 30px;
              width: 65px;
              cursor: pointer;
              background-color: black;
              border: 1px solid black;
              img {
                width: 30px;
                object-fit: cover;
                aspect-ratio: 1/1;
              }
            }
            input:hover,
            button:hover {
              border: 1px solid white;
            }
            input:active,
            button:active {
              border: 1px solid black;
            }
            .white {
              background-color: white;
            }
            .black {
              background-color: black;
            }
            .red {
              background-color: $red;
            }
          }
        }
      }
    }
    button {
      height: 50px;
      width: 700px;
      display: block;
      margin: 0 auto;
      border: 1px solid black;
    }
    button:hover {
      border: 1px solid white;
    }
    button:active {
      border: 2px solid $red;
    }
  }

  section.capsule {
    display: flex;
    justify-content: center;
    width: 100%;

    img {
      border-left: 4px 2px 4px 2px solid black;
      width: 50%;
      height: 100%;
    }
  }
}

//TODO VERSION MOBILE

@media (max-width: 800px) {
  //  NOUVEAUTE
  main {
    section.nouveaute,
    section.promo {
      width: auto;
      margin: 2em;
      h2 {
        font-size: 24px;
        font-weight: bold;
      }
      div#card {
        overflow: auto;
        display: flex;
        margin: 1em auto;
        div.card {
          height: auto;
          width: 233px;
          margin-bottom: 1em;
          div.cardContent {
            padding: 1em;
            img.cardImg {
              width: 200px;
              height: 250px;
            }
            div.colors {
              display: flex;
              justify-content: space-between;
              input {
                border: 1px solid black;
                height: 30px;
                width: 30px;
                cursor: pointer;
              }
              button {
                margin-right: 0;
                height: 30px;
                width: 65px;
                cursor: pointer;
                background-color: black;
                border: 1px solid black;
                img {
                  width: 30px;
                  object-fit: cover;
                  aspect-ratio: 1/1;
                }
              }
              input:hover,
              button:hover {
                border: 1px solid white;
              }
              input:active,
              button:active {
                border: 1px solid black;
              }
              .white {
                background-color: white;
              }
              .black {
                background-color: black;
              }
              .red {
                background-color: $red;
              }
            }
          }
        }
      }
      button {
        height: 50px;
        width: 200px;
        display: block;
        margin: 0 auto;
        border: 1px solid black;
        font-size: 24px;
      }
      button:hover {
        border: 1px solid white;
      }
      button:active {
        border: 2px solid $red;
      }
    }

    section.capsule {
      display: flex;
      justify-content: center;
      width: 100%;

      img {
        border-left: 4px 2px 4px 2px solid black;
        width: 50%;
        height: 100%;
      }
    }
  }
}
