// INITIALISATION FONT

@font-face {
  font-family: "Oswald";
  src: url("public/assets/fonts/Oswald.ttf");
}

@font-face {
  font-family: "NotoSans";
  src: url("public/assets/fonts/NotoSans.ttf");
}

p {
  font-family: "NotoSans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

// INITIALISATION VARIABLE

$white: #f0f0f0;
$black: #0e0e0e;
$red: #d71c10;

// TYPOGRAPHY

$h1-font-size: 3.5rem;
$h2-font-size: 3rem;
$h3-font-size: 2.5rem;
$h4-font-size: 2rem;
$h5-font-size: 1.5rem;
$h6-font-size: 1rem;
$p-font-size: 0.8rem;

//INITIALISATION HTML

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: $white;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

button {
  border: 1px solid white;
  color: white;
  background-color: black;
  font-family: "NotoSans", sans-serif;
  cursor: pointer;
}

button:hover {
  border: 1px solid white;
}

button:active {
  border: $red;
}

[popover] {
  position: fixed;
  inset: 0;
  width: fit-content;
  height: fit-content;
  margin: auto;
  border: solid;
  padding: 0.25em;
  overflow: auto;
  color: CanvasText;
}

//SCROLLBAR

/* Pour les barres de défilement dans WebKit */
::-webkit-scrollbar {
  width: 10px; /* largeur de la barre de défilement */
}

::-webkit-scrollbar-track {
  background: $white; /* couleur de la piste */
}

::-webkit-scrollbar-thumb {
  background: black; /* couleur du pouce */
}

::-webkit-scrollbar-thumb:hover {
  background: $black; /* couleur du pouce au survol */
}

/* HEADER */

header {
  background-color: #000;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px $black;
  p {
    color: #fff;
    background-color: black;
    border: 5px solid black;
    text-align: center;
    font-size: $p-font-size;
    font-family: "Oswald", sans-serif;
  }

  nav.navbar {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
    div.left,
    div.right,
    div.center {
      display: flex;
      text-align: center;
      align-items: center;
      button {
        border: none;
        background-color: transparent;
      }
    }

    div#userPop:popover-open {
      width: 361px;
      height: 200px;
      position: fixed;
      inset: unset;
      top: 0;
      left: 0;
      margin-top: 79px;
      flex-direction: column;
      justify-content: center;
      form {
        display: flex;
        flex-direction: column;
        input {
          height: 20px;
          border: 1px solid $black;
          margin: 0.5em;
          padding-left: 1em;
        }
        button {
          background-color: black;
          border: 1px solid black;
          padding: 0.5em;
        }
        div {
          margin: -1em 1em 1em 1em;
          text-align: center;
          display: flex;
          justify-content: space-between;
        }
      }
    }

    div#shopPop:popover-open {
      width: 50%;
      height: 100%;
      position: fixed;
      inset: unset;
      top: 0;
      left: 0;
      button {
        color: black;
        font-family: "Oswald", sans-serif;
        font-size: 24px;
      }
      div.header {
        display: flex;
        justify-content: space-between;
        border-bottom: 3px solid black;
        margin: 1em;
      }
    }

    div#menuPop:popover-open {
      width: 50%;
      height: 100%;
      position: fixed;
      inset: unset;
      top: 0;
      right: 0;

      button {
        color: black;
        font-family: "Oswald", sans-serif;
        font-size: 24px;
      }
      div.header {
        display: flex;
        justify-content: space-between;
        margin: 1em;
        h2 {
          font-size: 2.5em;
        }
      }
      form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1em;
        input {
          width: 100%;
          height: 40px;
          font-size: 2em;
          border: none;
          border-bottom: 2px solid black;
          margin: 0 1em;
        }
      }
      ul {
        li {
          font-family: "Oswald", sans-serif;
          font-size: 2.5em;
          text-decoration: none;
          text-align: right;
          border-top: 1px solid #afafaf;
          margin: 1em;

          a {
            color: black;
          }
        }
        li.bb {
          border-top: 2px solid black;
        }
      }
    }

    div.center {
      margin-right: 5em;
      h1 {
        font-family: "Oswald", sans-serif;
        cursor: pointer;
      }
    }

    div.left,
    div.right {
      gap: 1em;
    }

    img {
      height: 50px;
      cursor: pointer;
      padding: 0;
      margin: 0;
    }
  }
}

/* FOOTER */

nav.navFooter {
  border-top: 1px solid black;
  background-color: white;
  padding: 0.5em 0;
  ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: center;
    font-family: "Oswald", sans-serif;
    gap: 3em;
    a {
      color: black;
      font-size: 24px;
    }
  }
}

footer#desktop {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  img {
    height: 2em;
    width: 2em;
  }
  h3 {
    font-weight: normal;
    align-items: start;
  }
  a {
    font-weight: lighter;
  }
  p {
    font-family: "Oswald", sans-serif;
  }
  h3,
  p,
  a {
    color: white;
  }
  section.info {
    ul {
      display: flex;
      text-decoration: none;
      list-style: none;
      gap: 1em;
      align-items: center;
      a {
        font-family: "NotoSans", sans-serif;
      }
    }
  }
  section.resaux {
  }
  section.newsletter {
    form {
      display: flex;
      flex-direction: column;
      gap: 0.25em;
      input {
        text-align: center;
        color: #6d6d6d;
        border: 1px solid white;
      }
    }
  }

  section.right {
    div {
      display: flex;
      gap: 0.5em;
    }
  }
}

footer#mobile {
  display: none;
}

@media (max-width: 1080px) {
  header {
    nav.navbar {
      h1 {
        display: none;
      }
      div {
        img {
          height: 35px;
          width: 35px;
        }
      }
      div.center {
        img {
          height: 50px;
          width: 50px;
        }
      }
    }
  }

  nav.navFooter {
    padding: 0;
    ul {
      background-color: black;
      flex-direction: column;
      gap: 0;
      li {
        padding: 1em 0 1em 1em;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        a {
          color: white;
        }
      }
    }
  }

  footer#desktop {
    display: none;
  }
  footer#mobile {
    display: flex;
    flex-direction: column;
    background-color: black;
    h3 {
      text-align: center;
      color: white;
      font-size: 2em;
      padding-bottom: 0.5em;
    }
    h2 {
      color: white;
    }
    section#reseaux {
      background-color: white;
      display: flex;
      justify-content: space-around;
      padding: 0.5em;
      img {
        width: 50px;
        height: 50px;
      }
      div.reseaux {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
      }
      div.icon {
        display: flex;
        flex-direction: row;
        gap: 1em;
        border-left: 1px solid black;
        margin-left: -1em;
        padding-left: 1em;
      }
    }
    section.info {
      border-bottom: 1px solid white;
      padding: 1em 0 0 1em;
      ul {
        display: flex;
        text-decoration: none;
        list-style: none;
        gap: 1em;
        align-items: center;
        margin-bottom: 1em;
        gap: 3em;
        li {
          a {
            font-size: 24px;
            font-weight: lighter;
            font-family: "NotoSans", sans-serif;
            color: white;
          }
        }
      }
    }
    section.newsletter {
      border-top: 1px solid white;
      width: 100%;
      text-align: center;
      img {
        height: 50px;
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        height: 65px;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        input {
          text-align: center;
          color: #6d6d6d;
          border: 1px solid white;
        }
        button {
          background-color: white;
          border: 1px solid white;
          color: black;
        }
      }
    }
  }
}
