@charset "UTF-8";
@font-face {
  font-family: "Oswald";
  src: url("public/assets/fonts/Oswald.ttf");
}
@font-face {
  font-family: "NotoSans";
  src: url("public/assets/fonts/NotoSans.ttf");
}
p {
  font-family: "NotoSans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #f0f0f0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

button {
  border: 1px solid white;
  color: white;
  background-color: black;
  font-family: "NotoSans", sans-serif;
  cursor: pointer;
}

button:hover {
  border: 1px solid white;
}

button:active {
  border: #d71c10;
}

/* Pour les barres de défilement dans WebKit */
::-webkit-scrollbar {
  width: 10px; /* largeur de la barre de défilement */
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* couleur de la piste */
}

::-webkit-scrollbar-thumb {
  background: black; /* couleur du pouce */
}

::-webkit-scrollbar-thumb:hover {
  background: #0e0e0e; /* couleur du pouce au survol */
}

/* HEADER */
header {
  background-color: #000;
  width: 100%;
}
header p {
  color: #fff;
  background-color: black;
  border: 5px solid black;
  text-align: center;
  font-size: 0.8rem;
  font-family: "Oswald", sans-serif;
}
header nav.navbar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 2em 0 2em;
}
header nav.navbar div {
  display: flex;
  text-align: center;
  align-items: center;
}
header nav.navbar div.center h1 {
  font-family: "Oswald", sans-serif;
  cursor: pointer;
}
header nav.navbar div.left,
header nav.navbar div.right {
  gap: 1em;
}
header nav.navbar img {
  height: 50px;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
header nav.navbar input {
  display: none;
}
header nav.navbar button {
  border: none;
  background-color: transparent;
}

/* FOOTER */
nav.navFooter {
  border-top: 1px solid black;
  background-color: white;
  padding: 0.5em 0;
}
nav.navFooter ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  justify-content: center;
  font-family: "Oswald", sans-serif;
  gap: 3em;
}
nav.navFooter ul a {
  color: black;
  font-size: 24px;
}

footer#desktop {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
}
footer#desktop img {
  height: 2em;
  width: 2em;
}
footer#desktop h3 {
  font-weight: normal;
  align-items: start;
}
footer#desktop a {
  font-weight: lighter;
}
footer#desktop p {
  font-family: "Oswald", sans-serif;
}
footer#desktop h3,
footer#desktop p,
footer#desktop a {
  color: white;
}
footer#desktop section.info ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 1em;
  align-items: center;
}
footer#desktop section.info ul a {
  font-family: "NotoSans", sans-serif;
}
footer#desktop section.newsletter form {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
footer#desktop section.newsletter form input {
  text-align: center;
  color: #6d6d6d;
  border: 1px solid white;
}
footer#desktop section.right div {
  display: flex;
  gap: 0.5em;
}

footer#mobile {
  display: none;
}

@media (max-width: 800px) {
  header nav.navbar h1 {
    display: none;
  }
  header nav.navbar img {
    font-size: 30px;
  }
  nav.navFooter {
    padding: 0;
  }
  nav.navFooter ul {
    background-color: black;
    flex-direction: column;
    gap: 0;
  }
  nav.navFooter ul li {
    padding: 1em 0 1em 1em;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
  nav.navFooter ul li a {
    color: white;
  }
  footer#desktop {
    display: none;
  }
  footer#mobile {
    display: flex;
    flex-direction: row;
  }
  footer#mobile section.resaux {
    padding: 2em;
    width: 100dvw;
    background-color: white;
  }
}

/*# sourceMappingURL=style.css.map */
